<h3>{{viewTitle}}</h3>

<form action="/vol" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{vol._id}}">
    <div class="form-group">
        <label style="font-weight: bold;">Agence</label>
        <input type="text" class="form-control" name="agence" placeholder="Agence" value="{{vol.agence}}">
    </div>
    <div class="form-group">
        <label style="font-weight: bold;">Date de depart</label>
        <input type="text" class="form-control" name="date_depart" placeholder="date de depart" value="{{vol.date_depart}}">
        <div class="text-danger">
            {{vol.date_departError}}</div>
    </div>
    <div class="form-group">
        <label style="font-weight: bold;">Ville de depart</label>
        <input type="text" class="form-control" name="ville_depart"  value="{{vol.ville_depart}}">
        <div class="text-danger">
            {{vol.ville_departError}}</div>
    </div>
    <div class="form-group">
        <label style="font-weight: bold;">Ville d'arrivée</label>
        <input type="text" class="form-control" name="ville_arrivee"  value="{{vol.ville_arrivee}}">
        <div class="text-danger">
            {{vol.ville_arriveeError}}</div>
    </div>
    <div class="form-group">
        <label style="font-weight: bold;">Type</label>
        <input type="text" class="form-control" name="type"  value="{{vol.type}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/vol/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>