<h3><a class="btn btn-secondary" href="/vol"><i class="fa fa-plus"></i> Create New</a> Vol List</h3>
<table class="table table-striped">
    <thead>
        <tr>
           
            <th>Date de depart</th>
            <th>Ville de depart</th>
            <th>Ville d'arrivée</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            
            <td>{{this.date_depart}}</td> 
            <td>{{this.ville_depart}}</td>
            <td>{{this.ville_arrivee}}</td>
            <td>
                <a href="/vol/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/vol/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>